spring:
  application:
    name: ProjectAndDemandManagementSystem
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/psm
    username: postgres
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        ddl-auto: validate
    generate-ddl: true
    show-sql: true
  flyway:
    enabled: true

jwt:
  security:
    secret: ${JWT_SECRET}

springdoc:
  swagger-ui:
    path: /swagger-ui.html